<!DOCTYPE html>
<html>

<head>
    <title>DineAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>🍽 DineAI</h1>
    <p>AI Powered Restaurant Recommendation System</p>
</header>

<div class="container">

<div class="card">

<h2>Welcome to DineAI</h2>

<p>Find the best restaurants based on your preferences.</p>

<a href="/recommend"><button>Get Recommendation</button></a>

<a href="/about"><button>About</button></a>

</div>

</div>

</body>

</html>
